@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Outfit',sans-serif;

    background:
    linear-gradient(
        135deg,
        #081120,
        #0b1628,
        #111c34
    );

    min-height:100vh;

    color:#e2e8f0;

    padding:30px;

    overflow-x:hidden;

    display:flex;
}

/* TITLE */

.title{

    text-align:center;
    width:100%;
    font-size:42px;

    font-weight:700;

    margin-bottom:40px;

    letter-spacing:1px;

    color:#dbeafe;

    position:relative;
}

/* SMALL BLUE LINE */

.title::after{

    content:"";

    width:120px;

    height:4px;

    border-radius:20px;

    background:
    linear-gradient(
        to right,
        #2563eb,
        #38bdf8
    );

    display:block;

    margin:14px auto 0;

}

@keyframes glow{

    from{
        filter:drop-shadow(0 0 10px #38bdf8);
    }

    to{
        filter:drop-shadow(0 0 25px #ec4899);
    }

}

/* GRID */

#ordersContainer{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:18px;
}

/* CARD */

.order-card{

    position:relative;

background:
rgba(15,23,42,0.7);

    backdrop-filter:blur(15px);

    border:
    1px solid rgba(255,255,255,0.1);

    border-radius:25px;

    padding:18px;

    overflow:hidden;

    transition:0.4s ease;

    animation:fadeUp 0.7s ease;
}

/* CARD HOVER */

.order-card:hover{

    transform:
    translateY(-10px)
    scale(1.02);

    box-shadow:
    0 15px 40px rgba(0,0,0,0.5),
    0 0 20px rgba(56,189,248,0.4);

}

/* SHINE EFFECT */

.order-card::before{

    content:"";

    position:absolute;

    top:-50%;

    left:-50%;

    width:200%;

    height:200%;

    background:
    linear-gradient(
        45deg,
        transparent,
        rgba(255,255,255,0.08),
        transparent
    );

    transform:rotate(25deg);

    animation:shine 6s linear infinite;
}

@keyframes shine{

    0%{
        transform:
        translateX(-100%)
        rotate(25deg);
    }

    100%{
        transform:
        translateX(100%)
        rotate(25deg);
    }

}

/* TEXT */

.order-card h3{

    font-size:22px;

    margin-bottom:10px;

    color:#38bdf8;
}

.order-card p{

    margin:6px 0;

    font-size:14px;

    line-height:1.4;
}

.order-card strong{
    color:white;
}

/* STATUS BUTTON */

.status{

    margin-top:20px;

    width:100%;

    padding:14px;

    border:none;

    border-radius:14px;

    font-size:15px;

    font-weight:600;

    cursor:pointer;

    color:white;

    background:
    linear-gradient(
        to right,
        #49ceff,
        #02abb175
    );

    transition:0.3s ease;
}
.status:hover{

    transform:translateY(-3px);

    box-shadow:
    0 8px 20px rgba(37,99,235,0.25);

    background:
    linear-gradient(
        to right,
        #2563eb,
        #3b82f6
    );
}
.status-btn{

    border:none;

    padding:10px 18px;

    border-radius:12px;

    color:white;

    font-weight:600;

    cursor:pointer;

    font-size:14px;

    transition:
    all 0.35s ease,
    transform 0.25s ease;

    box-shadow:
    0 6px 18px rgba(0,0,0,0.25);

}

/* PENDING */

.pending-btn{

    background:
    linear-gradient(
        135deg,
        #facc15,
        #eab308
    );

}

/* PREPARING */

.preparing-btn{

    background:
    linear-gradient(
        135deg,
        #fb923c,
        #f97316
    );

}

/* READY */

.ready-btn{

    background:
    linear-gradient(
        135deg,
        #60a5fa,
        #2563eb
    );

}

/* DELIVERED */

.delivered-btn{

    background:
    linear-gradient(
        135deg,
        #4ade80,
        #16a34a
    );

}

/* HOVER */

.status-btn:hover{

    transform:
    translateY(-3px)
    scale(1.05);

    opacity:0.95;

}

/* ACTIVE */

.active-status{

    transform:
    scale(1.08);

    border:
    2px solid white;

    box-shadow:
    0 0 20px rgba(255,255,255,0.5);

    animation:
    glowMove 0.4s ease;

}
/* BUTTON ANIMATION */

@keyframes gradientMove{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }

}

/* ENTRY ANIMATION */

@keyframes fadeUp{

    from{
        opacity:0;
        transform:
        translateY(40px);
    }

    to{
        opacity:1;
        transform:
        translateY(0);
    }

}

/* MOBILE */

@media(max-width:768px){

    .title{
        font-size:30px;
    }

}

/* LAYOUT */

body{
    display:flex;
    gap:0px;
}

/* SIDEBAR */

.sidebar{

    width:240px;

    min-height:100vh;

background:rgba(15,23,42,0.75);

    backdrop-filter:blur(20px);

    padding:30px 20px;

    border-right:
    1px solid rgba(255,255,255,0.1);

    position:fixed;

    left:0;
    top:0;
}

.sidebar h2{

    text-align:center;

    margin-bottom:40px;

    color:#38bdf8;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{

    padding:18px;

    margin-bottom:15px;

    border-radius:15px;

    cursor:pointer;

    transition:0.3s;

    font-weight:500;
}

.sidebar li i{
    margin-right:10px;
}

.sidebar li:hover{

    background:
    rgba(59,130,246,0.15);

    border:
    1px solid rgba(96,165,250,0.2);

    transform:translateX(8px);

    color:#93c5fd;
}

/* MAIN */

.main{

    margin-left:240px;

    width:calc(100vw - 240px);

    padding:25px 35px;
}

/* STATS */
/* STATS */

/* STATS */

.stats{

    width:100%;

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:25px;

    margin-top:30px;

    margin-bottom:45px;
}

/* CARD */

.stat-card{

    position:relative;

    overflow:hidden;

    padding:35px 20px;

    border-radius:30px;

    min-height:190px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    transition:0.4s ease;

    border:
    1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(18px);

    box-shadow:
    0 10px 35px rgba(0,0,0,0.35);
}

/* CARD HOVER */

.stat-card:hover{

    transform:
    translateY(-10px)
    scale(1.03);

    box-shadow:
    0 20px 45px rgba(0,0,0,0.45);
}

/* CARD COLORS */

.stat-card:nth-child(1){

    background:
    linear-gradient(
        135deg,
        #2563eb,
        #1e293b
    );
}

.stat-card:nth-child(2){

    background:
    linear-gradient(
        135deg,
        #9333ea,
        #1e293b
    );
}

.stat-card:nth-child(3){

    background:
    linear-gradient(
        135deg,
        #f59e0b,
        #1e293b
    );
}

.stat-card:nth-child(4){

    background:
    linear-gradient(
        135deg,
        #22c55e,
        #1e293b
    );
}

/* GLOW */

.stat-card::before{

    content:"";

    position:absolute;

    width:220px;

    height:220px;

    background:
    rgba(255,255,255,0.08);

    border-radius:50%;

    top:-100px;

    right:-80px;
}

/* NUMBER */

.stat-card h2{

    font-size:58px;

    font-weight:800;

    color:white;

    margin-bottom:14px;

    text-shadow:
    0 0 20px rgba(255,255,255,0.2);
}

/* LABEL */

.stat-card p{

    font-size:19px;

    font-weight:500;

    color:#f1f5f9;

    letter-spacing:0.5px;
}

/* MOBILE */

@media(max-width:1100px){

    .stats{

        grid-template-columns:
        repeat(2,1fr);
    }

}

@media(max-width:650px){

    .stats{

        grid-template-columns:1fr;
    }

}
/* MOBILE */

@media(max-width:900px){

    .sidebar{
        display:none;
    }

    .main{

        margin-left:0;

        width:100%;

        padding:15px;
    }

    .stats{

        grid-template-columns:
        repeat(2,1fr);
    }

}

.section-title{

    font-size:28px;

    margin-bottom:25px;

    color:#dbeafe;
}
.status-buttons{

    display:flex;

    gap:8px;

    margin-top:15px;

    flex-wrap:wrap;
}


.pending-btn{
    background:#eab308;
}

.preparing-btn{
    background:#f97316;
}

.ready-btn{
    background:#3b82f6;
}

.delivered-btn{
    background:#22c55e;
}

.status-btn:hover{

    transform:translateY(-2px);

    opacity:0.9;
}
.admin-items{

    margin-top:12px;

    border-top:
    1px solid rgba(255,255,255,0.08);

    padding-top:10px;
}

.food-row{

    display:flex;

    justify-content:space-between;

    padding:6px 0;

    font-size:14px;

    color:#dbeafe;
}

.grand-total{

    margin-top:12px !important;

    font-size:18px !important;

    font-weight:700;

    color:#38bdf8 !important;
}
.active-status{

    transform:scale(1.05);

    box-shadow:
    0 0 20px rgba(255,255,255,0.4);

    border:
    2px solid white;

}
.dashboard-cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:18px;

    margin-top:20px;

    width:100%;

    align-items:stretch;
}
.live-status{

    margin-top:15px;

    padding:12px;

    border-radius:14px;

    text-align:center;

    font-weight:700;

    color:white;

    transition:0.5s ease;

    transform:scale(1);
}

/* PENDING */

.live-status.pending{

    background:#eab308;
}

/* PREPARING */

.live-status.preparing{

    background:#f97316;
}

/* READY */

.live-status.ready{

    background:#3b82f6;
}

/* DELIVERED */

.live-status.delivered{

    background:#22c55e;
}
.status-btn{

    transition:
    all 0.35s ease,
    transform 0.25s ease;

}

.active-status{

    transform:
    scale(1.08);

    border:
    2px solid white;

    box-shadow:
    0 0 20px rgba(255,255,255,0.5);

    animation:
    glowMove 0.4s ease;

}

@keyframes glowMove{

    from{

        transform:
        scale(0.9);

        opacity:0.5;

    }

    to{

        transform:
        scale(1.08);

        opacity:1;

    }

}